:root {
    --primary-color-100: #FFDDCC;
    --primary-color-200: #F8B8AE;
    --primary-color-300: #D59188;
    --primary-color-400: #B36B61;
    --primary-color-500: #9A4E46;
    --primary-color-600: #81312B;
    --primary-color-700: #752926;
    --primary-color-800: #651D1D;
    --primary-color-900: #550F17;
    --primary-color-1000: #44000D;
    --secondary-color-100: #FFFBEA;
    --secondary-color-200: #FFF5CA;
    --secondary-color-300: #FFEFA7;
    --secondary-color-400: #FFE887;
    --secondary-color-500: #FFE26F;
    --secondary-color-600: #FFDC58;
    --secondary-color-700: #FFCE56;
    --secondary-color-800: #EDB84F;
    --secondary-color-900: #D5A34A;
    --secondary-color-1000: #AE7F41;
}