@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./business-color.css";


* {
  box-sizing: border-box;
}

html {
  @apply text-[#000];
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  background-image: url('/images/background.png');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #27326f;
}

.overflow-strategies::-webkit-scrollbar {
  width: 0;
}
.border-quote{
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #FFCE56, #651D1D) 1;
}
.bg-gioithieu {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/Banner/GioiThieu.png);
}
.about-background {
  background-image: url('/images/background_about_us.png');
}
.quote-line {
  z-index: 2;
  position: relative;
}
.quote-line:before {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  background: #9A4E46;
  left: -200px;
  bottom: 18px;
  position: absolute;
  z-index: 1;
}
.quote-line:after {
  content: "";
  display: block;
  width: 200px;
  height: 1px;
  background: #9A4E46;
  right: -200px;
  bottom: 18px;
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 450px) {
  .bg-gioithieu {
    /*background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/Banner/GioiThieu2.png);*/
    background-size: 100vw 100vh;
  }
  .quote-line:before {
    content: "";
    display: block;
    width: 69px;
    height: 1px;
    background: #9A4E46;
    left: -68px;
    bottom: 18px;
    position: absolute;
    z-index: 1;
  }
  .quote-line:after {
    content: "";
    display: block;
    width: 69px;
    height: 1px;
    background: #9A4E46;
    right: -68px;
    bottom: 18px;
    position: absolute;
    z-index: 1;
  }
}
